*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #33475b;
    font-family: "AvenirNext","Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 40px;
}

.header-top{
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    background-color: #f5f8fa;
    border-bottom: 1px solid #cbd6e2;
}

.header-top-left{
    /*border:1px solid red;*/
}

.header-top .container ul{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

.header-top .container ul li{
    /*float: left;*/
    display: inline-block;
}

.header-top-left,
.header-top-right {
    float:left;
    width:50%;
    line-height: 80px;
}

.header-top-right {
    text-align: right;
}

.header-language span{
    padding-right: 16px;
    border-right: 2px solid #cbd6e2;
}

.header-language span .fa-sort-down{
    margin: 0 4px 0 10px;
    color: #7c98b6;
}

.header-top .container .header-language span i{
    margin-right: 10px;
    width: 16px;
    max-height: 29px;
    content:'\f0ac';
}

.header-top .container .header-contact p{
    padding: 0 16px;
}

#button-login{
    text-align: center;
    border-radius: 3px;
    transition: .3s ease-in-out;
    border: 0;
    font-weight: 600;
    background-color: #fff;
    border: 1px solid #ff7a59;
    color: #ff7a59;
    padding: 5.68px 17.776px 5.68px;
    font-size: 13px;
    font-weight: 500;
    min-width: 94.208px;
    text-decoration: none;
    font-family: inherit;
    vertical-align: baseline;
}

#button-GetHubspot{
    text-align: center;
    border-radius: 3px;
    transition: .3s ease-in-out;
    border: 0;
    font-weight: 600;
    background-color: #ff7a59;
    color: #fff;
    padding: 5.68px 17.776px 5.68px;
    font-size: 13px;
    font-weight: 500;
    min-width: 94.208px;
    text-decoration: none;
    font-family: inherit;
    vertical-align: baseline;
}

.header-bottom{
    width: 100%;
    margin-top: 0;
    padding-top: 80px;
    border-top: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.header-bottom-left,
.header-bottom-right {
    line-height: 80px;
}

.header-bottom-left {
    width: 30%;
    float: left;
}

.header-bottom-right {
    width: 70%;
    float: left;
    text-align: right;
}

.header-logo{
    float: left;
}

.header-bottom .container .header-bottom-right #menu-dropdown li {
    display: inline-block;
    padding-right: 10px;
}

/*
.header-bottom .container .header-bottom-right #menu-dropdown{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    list-style: none;
}

.header-bottom .container .header-bottom-right #menu-dropdown li{
    list-style: none;
    margin: 0;
    padding: 0 16px;
    border-bottom: 0;
    float: left;
    display: inline-block;
    color: inherit;
    font-family: inherit;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
*/

.header-bottom .container .header-bottom-right #menu-dropdown li a{
    text-decoration: none;
    color: #33475b;
}

.header-bottom .container .header-bottom-right #menu-dropdown li i{
    color: #7c98b6;
    content: "\f107";
    padding: 3px;
}

#join-us{
    color: white;
    background-color: #425b76;
}

#join-us p{
    padding: 20px;
}

#jumbo-home{
    padding-top: 64px;
    padding-bottom: 112px;
    background-image: linear-gradient(to top right,#fef8f0,#fff3ee,#fff1ee);
}

#jumbo-home .scritta-jumbo{
    width:40%;
    padding:20px 0;
}

#jumbo-home .scritta-jumbo h1{
    padding-bottom:20px;
}

#jumbo-home .scritta-jumbo a{
    text-align: center;
    border-radius: 3px;
    transition: .3s ease-in-out;
    display: inline-block;
    border: 0;
    font-weight: 600;
    background-color: #ff7a59;
    color: #fff;
    padding: 22.576px 32px 19.376px;
    font-size: 17px;
    min-width: 116.432px;
    text-decoration: none;
}

#jumbo-home .scritta-jumbo p{
    font-size: 18px;
    line-height: 25.77776px;
    padding: 10px 0;
}

#jumbo-home .scritta-jumbo .home-mini{
    font-size: 14px;
    max-width: 224px;
    line-height: 26.28576px;
}

#jumbo-offerts{
    background-color: #f5f8fa;
    padding: 100px 0 50px;
}

.first-box{
    width: 32%;
    margin: 0 2% 32px 0;
    float: left;
}

.box{
    width: calc(32% - 4%);
    padding: 32px;
    margin-right: 2%;
    margin-bottom: 16px;
    text-align: left;
    float: left;
    border-radius: .1875rem;
    background: #fff;
}

.jumbo-features p{
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 15px;
    margin-top: 2em;
    overflow: hidden;
    position: relative;
    z-index: 1;
    font-size: 13px;
    border-top: 1px solid rgba(153,172,194,0.2);
    padding-top: 2em;
}

.jumbo-features-list ul li{
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
    list-style: none;
}

.jumbo-features-list ul li::before{
    content: "";
    background: url(//cdn2.hubspot.net/hubfs/53/assets/hubspot.com/partners/images/Orange_Checkmark.svg) no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-bottom: -5px;
    margin-right: 10px;
}

.jumbo-features-button{
    display: block;
    text-align: center;
    transition: transform .3s;
    padding-top: 20px;
    vertical-align: middle;
}

.jumbo-features-button a{
    text-align: center;
    border-radius: 3px;
    transition: .3s ease-in-out;
    display: inline-block;
    border: 0;
    font-weight: 600;
    background-color: #ff7a59;
    color: #fff;
    padding: 14.4px 22.208px 9.6px;
    font-size: 15px;
    min-width: 136.88px;
    text-decoration: none;
}

#jumbo-analytics{
    width: 100%;
    background-image: linear-gradient(45deg,#00a4bd,#00bda5);
}

#jumbo-information{
    width: 100%;
    height: 500px;
}
